/* as long as about component is positioned first in the navigation elem's row, no need to apply conditional rendering (min-height) reference: check about/contact components  */
.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - var(--header_height));
  background-color: rgb(47, 141, 26);
  padding: 1rem;
  padding-top: 0;
}

.about-container--minheight {
  min-height: 100vh;  
}