.contact-container, 
.contact-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-container {
  min-height: calc(100vh - var(--header_height));
  background-color: rgb(98, 24, 113);
  padding: 1rem;
  padding-top: 0;
}

.contact-container--minheight {
  min-height: 100vh;  
}

.contact-content {
  height: auto;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 1366px) {
  .contact-content {
    flex-direction: row;
    justify-content: center;
  }
}


/* .contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - var(--header_height));
  background-color: rgb(233, 199, 76);
  padding: 1rem;
  padding-top: 0;
}

.contact-container--minheight {
  min-height: 100vh;  
} */