.contact-container,
.contact-content,
.contact-group-1,
.contact-group-2,
.contact-header-container,
.contact-header-title,
.contact-header-text,
.contact-background,
.contact-additional-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* contact container */
.contact-container {
  min-height: calc(100vh - var(--header_height));
  background-color: rgb(58, 38, 162);
  padding-top: 0;
  align-items: flex-start;
}

.contact-container--minheight {
  min-height: 100vh;
}

/* content container */
.contact-content  {
  height: 100%; 
} 

/* content groups */
.contact-group-1,
.contact-group-2 {
  height: 100%;
  margin-bottom: 1rem;
}

.contact-header-container {
  height:auto;
}

/* header title */
.contact-header-title  {
  height: 100px;
  padding: 1rem;
}

.contact-header-title h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 0;
}

/* header text */
.contact-header-text {
  padding: 1rem;
  justify-content: initial;
}

.contact-header-text p {
  margin: 0;
  text-align: justify;
  font-size: 1.2rem;
}
.contact-background {
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 41);
}
.contact-additional-info {
  background-color: rgb(175, 177, 24);
  z-index: 2;
  height: 100%;
}

.contact-additional-info p {
  height: 25px;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .contact-container {
    padding: 1rem;
    padding-top: 0;
    justify-content: flex-start;
  }
  /* content groups */
  .contact-group-1,
  .contact-group-2 {
    width: 100%;
  }
  .contact-additional-info {
    z-index: 2;
    width: 95%;
    height: 100%;
    margin: 1rem;
  }
  .contact-additional-info p {
    font-size: 1.3rem;
  }
  .contact-background {
    margin: 0;
  }
}

@media (min-width: 1366px) {
  /* content container */
  .contact-container {
    padding: 0rem;
  }
  .contact-content {
    flex-direction: row;
    flex-grow: 1;
    margin-bottom: 1rem;
  }
  /* content groups */
  .contact-group-1,
  .contact-group-2 {
    width: 50%;
    align-items: space-between;
    margin-bottom: 0;
  }

  .contact-header-container {
    height: 300px;
  }
  


  .contact-header-title {
    height: 150px;
  }
  .contact-header-title h1 {
    font-size: 3.2rem;
  }
  .contact-header-text {
    justify-content: center;
  }

  .contact-header-text {
    height: 150px;
  }

  .contact-header-text p {
    font-size: 1.3rem;
  }

  .contact-background {
    flex-direction: row;
    height: 500px;
    margin: 0;
  }

  .contact-additional-info {
    z-index: 2;
    width: 50%;
    height: 100%;
    margin: 0rem;
    flex-grow: 1;
    background-color: rgb(175, 177, 24);
  }
  .contact-additional-info p {
    font-size: 1.3rem;
  }
}