
/* form */
.form,
.form-message,
.form-loadermodal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  height: 650px;
  background-color: rgba(161, 161, 163, 0.95);
  position: relative;
}

.form-message {
  height: 100%;
}

.form input,
.form textarea,
.form button,
.form-charactercount,
.form-statusmessage {
  margin: 0.5rem 0;
  padding: 1rem;
  width: 95%;
}

.form-loadermodal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(98, 98, 100);
}

.form-loader,
.form-statusmessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-statusmessage {
  margin: 0rem;
  font-size: 1.5rem;
}

.form-loader {
  flex-grow: 1;
}

.form-statusmessage {
  height: 75px;
}

.form input {
  height: 40px;
}

.form textarea {
  height: 200px;
  resize: none;
  text-align: justify;
  flex-grow: 1;
}

.form button {
  height: 50px;
}

.form-charactercount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .form {
    width: 100%;
    height: 500px;
    z-index: 3;
  }

  .form input,
  .form textarea,
  .form-statusmessage {
    margin-bottom: 0;
  }

  .form input:first-child {
    margin-top: 1rem;
  }

  .form button {
    height: 50px;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1366px) {
  .form {
    width: 500px;
    height: 500px;
    z-index: 3;
  }

  .form input,
  .form textarea,
  .form-statusmessage {
    margin-bottom: 0;
  }

  .form input:first-child {
    margin-top: 1rem;
  }

  .form button {
    height: 50px;
    margin-bottom: 1rem;
  }
  
}