.space-cat-proximity-hover { 
  width: 200px;
  height: 200px;
  position: absolute;
  top: -200px;
  user-select: none;
  transition: transform .4s;
  background-color: transparent;
  z-index: 3;
}

.space-cat,
.space-cat img {
  width: 150px;
  height: auto;
  position: absolute;
  top: -89px;
  user-select: none;
}

.space-cat  {
  transition: transform .4s;
}

.space-cat-proximity-hover:hover {
  transform: scale(1.5);
}

.space-cat-proximity-hover:hover + .space-cat {

  transform: translateY(80px);
  background-color: rgb(89, 226, 121);

}

.space-cat-eyes {
  position: absolute;
}